extends  _layout.pug
block locals
    - var title = 'Hello Pug'
block content
    #container
        h1 Welcome to Pug!!!
        .img-wrapper
            img(src="../images/ancolewat.jpg")
        ul
            li aaa
            li bbb
            li ccc
        footer.footer &copy;code is fun
