html{
    margin: 0;
    padding: 0;
}
body {
    background: lightcoral;
}
h1 {
    text-align: center;
    color: moccasin;
    transition: all .5s;
    &:hover{
        color: #000;
    }
}
.img-wrapper{
   text-align: center;
}


